<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<p>
  <strong>Current Value:</strong>
  <%= number_to_currency(@portfolio.amount) %>
  <%= link_to 'Update Value', portfolio_update_amount_path(@portfolio), :method => :patch, class: "btn btn-primary" %>
</p>

  <p>
    <strong>Initial Cost:</strong>
    <%= number_to_currency(@portfolio.total_investment) %>
  </p>

<br/>

<br/>
<h1>Trades</h1>
<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Last Trade Price</th>
      <th>Name</th>
      <th>Stock Exchange</th>
      <th>Number of Shares</th>
      <th>Buy Price</th>
      <th>Gain/Loss</th>
      <th>Sell</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>
<% @portfolio.transactions.each do |trans| %>
  <tr>
    <td class="col-md-1"><%= trans.stock.symbol %></td>
    <td class="col-md-1"><%= number_to_currency(trans.stock.last_price) %></td>
    <td class="col-md-1"><%= trans.stock.name %></td>
    <td class="col-md-1"><%= trans.stock.stock_exchange %></td>
    <td class="col-md-1"><%= trans.num_of_shares %></td>
    <td class="col-md-1"><%= number_to_currency(trans.buy_price) %></td>
    <td class="col-md-1"><%= number_to_currency(trans.stock.last_price.to_f - trans.buy_price.to_f) %></td>
    <td class="col-md-1"><%= link_to 'Sell', portfolio_transaction_path(@portfolio, trans), method: :delete, class: "btn btn-success" %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= link_to 'Update Stocks', mass_update_path, method: :patch, class: "btn btn-primary" %>
<br/>
<h3>Make a Trade</h3>
<br/>
<%= render 'transactions/form' %>

<%= link_to 'New Transaction', new_portfolio_transaction_path(@portfolio) %> |
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
