<%= form_for([@portfolio, @transaction], remote: true) do |f| %>
  <div id = "transaction-errors">
    <% if @transaction.errors.any? %>
      <%= render partial: 'transactions/transaction_form_errors' %>
    <% end %>
  </div>

  <div class = "field">
    <%= f.label :buy_sell, 'Type' %>
    <%= f.select :buy_sell, options_for_select(['buy', 'sell']) %>
  </div>

  <div class="field">
    <%= f.label :symbol, 'Ticker' %><br>
    <%= f.select :stock_id, options_from_collection_for_select(Stock.order(symbol: :asc), :id, :symbol), prompt: 'Please select a stock...' %>
  </div>
  <div class="field">
    <%= f.label :num_of_shares, 'Quantity' %><br>
    <%= f.number_field :num_of_shares, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>